<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gentle Gourmet | Category & Brand</title>
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="../../assets/vendor/simplebar/dist/simplebar.min.css"/>
    <link rel="stylesheet" media="screen" href="../../assets/vendor/tiny-slider/dist/tiny-slider.css"/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../../assets/css/theme.min.css">

    <style type="text/css">
      body {
        z-index: 0
      }

      #bg {
        position: fixed;
        top: 0;
        left: 0;

        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
      }

      #bg img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
      }

      .breadcrumb {
        margin-top: 10vh;
        margin-bottom: 2vh;
        background-color: transparent;
      }

      .title-and-pic {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .adjust-recipe-img {
        width: 500px;
        height: 500px;
      }

      p {
        width: 95vh;
        overflow-wrap: normal;
      }

      .add-padding {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .centered-wrapper {
        position: relative;
        text-align: center;
        align-items: center;
      }

      .centered-wrapper:before {
        content: "";
        position: relative;
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
      }

      .centered-content a {
        display: inline-block;
        vertical-align: middle;
      }

      html, body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }

      header {
        background-color: #75C154;
      }

      footer {
        background-color: #75C154;
        width: 100%;
      }

      .gallery {
        padding-left: 50px;
      }

      .list-group-item {
        background-color: transparent;
      }

      #footer-color {
        background-color: #75C154;
      }

      #move-to-right {
        alignment: left;
      }

      #increase-height {
        min-height: 70%;
      }

      .nav-padding {
        padding-left: 25px;
        padding-right: 25px;
      }

      #main-extra-padding {
        padding-top: 120px;
        padding-left: 20px;
      }

      #side-nav-extra-padding {
        margin-top: 50px;
      }

      #main-sticky-position {
        position: sticky;
        z-index: 0;
      }

      #side-nav-sticky-position {
        position: sticky;
        z-index: 1;
      }

      #nav-sticky-position {
        position: sticky;
        z-index: 2;
      }

      #popular-tags {
        position: fixed;
        top: 120px;
        margin-left: 380px;
        z-index: 3;
      }

      #videosList {
        width: 100% !important;
        height: auto !important;
        border-radius: 200px;
        overflow: hidden;
        /*-webkit-transform: translateZ(0);*/
        box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16), 0 14px 19px 0 rgba(0, 0, 0, 0.07);
      }

      #theVideo {
        /*background-image: url('../assets/img/logo/GentleGourmetLogo_darkbg.jpg');*/
        width: 100% !important;
        height: auto !important;
        margin-bottom: -30px;
      }


    </style>

  </head>

  <!-- Body-->
  <body class="bg-secondary">


  <!-- /////////////////////////////////  Navigation begins ///////////////////////////////// -->


  <!-- Sign in / sign up modal starts -->
  <div class="modal carousel-fade" id="signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab"
                                    data-bs-toggle="tab"
                                    data-bs-toggle="tab"
                                    role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign
              in</a></li>
            <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab"
                                    role="tab" aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Sign
              up</a></li>
          </ul>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body tab-content py-4">
          <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate
                id="signin-tab">
            <div class="mb-3">
              <label class="form-label" for="id">ID</label>
              <input class="form-control" type="email" id="id" placeholder="veganlife123"
                     required>
              <div class="invalid-feedback">Please provide the correct user ID</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="si-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="si-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span
                        class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <!-- here, when btn is clicked, ajax call for sign in api -->
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
          </form>
          <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
            <div class="mb-3">
              <label class="form-label" for="id">ID</label>
              <input class="form-control" type="text" id="id" placeholder="John Doe" required>
              <div class="invalid-feedback">Please fill in your use ID</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="su-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="su-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span
                        class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="su-password-confirm">Confirm password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="su-password-confirm" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span
                        class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <!-- here, when btn is clicked, ajax call for sign up api -->
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign in / sign up modal ends-->

  <!-- Sign in / sign up modal for admin starts -->
  <div class="modal carousel-fade" id="signin-modal-admin" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab"
                                    data-bs-toggle="tab"
                                    data-bs-toggle="tab"
                                    role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign
              in</a></li>
          </ul>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body tab-content py-4">
          <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate
                id="signin-tab">
            <div class="mb-3">
              <label class="form-label" for="id">Admin ID</label>
              <input class="form-control" type="email" id="id" placeholder="vegan-admin123"
                     required>
              <div class="invalid-feedback">Please provide the correct admin user ID</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="si-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="si-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span
                        class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <!-- here, when btn is clicked, trigger admin login api which will validate the info and forward to the admin/sales view  -->
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign in / sign up modal admin ends-->


  <div id="nav-sticky-position">


    <header class="navigation bg-light shadow-sm fixed-top">
      <div class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand d-none d-sm-block me-3 me-xl-4 flex-shrink-0" href="../home.html">
            <img src="../../assets/img/logo/GentleGourmetLogo2.png" width="300" alt="Gentle Gourmet">
          </a>

          <!-- Search-->
          <div class="input-group d-none d-lg-flex flex-nowrap mx-4"><i
                  class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            <input class="form-control rounded-start w-25" type="text" placeholder="Search for products">
            <select class="form-select flex-shrink-0" style="width: 10rem;">
              <option>All Categories</option>
              <option>{ 불러온 카테고리 }</option>
              <option>{ 불러온 카테고리 }</option>
              <option>{ 불러온 카테고리 }</option>
              <option>{ 불러온 카테고리 }</option>
              <option>{ 불러온 카테고리 }</option>
            </select>
          </div>

          <!-- Cook & Our Story links -->
          <div class="nav-padding">
            <!-- a link -->
            <a href="../cook/recipe-list.html">
              <!-- icon -->
              <i class="ci-avocado bg-faded-primary"></i>
              <h6 style="color:darkslategrey">Cook</h6>
            </a>
          </div>
          <div class="nav-padding">
            <a href="../story/story.html">
              <i class="ci-broccoli"></i>
              <h6 style="color:darkslategrey">Story</h6>
            </a>
          </div>

          <!-- Toolbar-->
          <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center ms-xl-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#sideNav"><span
                    class="navbar-toggler-icon"></span></button>
            <a class="navbar-tool d-flex d-lg-none" href="#searchBox" data-bs-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="searchBox"><span class="navbar-tool-tooltip">Search</span>
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-search"></i></div>
            </a>

            <!-- Login Modal (widget) -->
            <!-- if not logged in    -->
            <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="#signin-modal" data-bs-toggle="modal">
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
              <div class="navbar-tool-text ms-n3"><small>Sign in</small>Customer</div>
            </a>
            <!-- add logic -> if logged in
             add <small>Hello, User {유저 이름}</small></div> -->

            <!-- Admin Login Modal -->
            <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="#signin-modal-admin" data-bs-toggle="modal">
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-store"></i></div>
              <div class="navbar-tool-text ms-n3">Admin</div>
            </a>

            <!-- Cart Widget starts -->
            <div class="navbar-tool dropdown ms-3">
              <a class="navbar-tool-icon-box bg-secondary dropdown-toggle"
                 href="../order/checkout.html">
                <span class="navbar-tool-label">{ 카트 아이템 수 }</span>
                <i class="navbar-tool-icon ci-cart"></i>
              </a>
              <a class="navbar-tool-text" href="../order/checkout.html"><small>My Cart</small>₩{ 총금액
                }</a>
              <div class="dropdown-menu dropdown-menu-end">
                <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
                  <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">

                    <!-- Cart Item Widget -->
                    <!-- for all items in the cart, for loop the below : -->
                    <div class="widget-cart-item py-2 border-bottom">
                      <!-- add code : removing the cart item -->
                      <button class="btn-close text-danger" type="button" aria-label="Remove">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <!-- insert cart item's details here -->
                      <div class="d-flex align-items-center">
                        <!-- insert the link to product/product.html/product-id -->
                        <a class="d-block" href="../product/product.html">
                          <img src="../../save/product/product1.png" width="64" alt="Product">
                        </a>
                        <div class="ps-2">
                          <h6 class="widget-product-title"><a href="../product/product.html">{ 카트
                            아이템 이름 }</a></h6>
                          <div class="widget-product-meta">
                            <span class="text-accent me-2">₩{ 아이템 가격 }</span><span
                                  class="text-muted">x { 아이템 갯수 }</span>

                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Cart Item Widget -->
                    <!-- for all items in the cart, for loop the below : -->
                    <div class="widget-cart-item py-2 border-bottom">
                      <!-- add code : removing the cart item -->
                      <button class="btn-close text-danger" type="button" aria-label="Remove">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <!-- insert cart item's details here -->
                      <div class="d-flex align-items-center">
                        <!-- insert the link to product/product.html/product-id -->
                        <a class="d-block" href="../product/product.html">
                          <img src="../../save/product/product1.png" width="64" alt="Product">
                        </a>
                        <div class="ps-2">
                          <h6 class="widget-product-title"><a href="../product/product.html">{ 카트
                            아이템 이름 }</a></h6>
                          <div class="widget-product-meta">
                            <span class="text-accent me-2">₩{ 아이템 가격 }</span><span
                                  class="text-muted">x { 아이템 갯수 }</span>

                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Cart Item Widget -->
                    <!-- for all items in the cart, for loop the below : -->
                    <div class="widget-cart-item py-2 border-bottom">
                      <!-- add code : removing the cart item -->
                      <button class="btn-close text-danger" type="button" aria-label="Remove">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <!-- insert cart item's details here -->
                      <div class="d-flex align-items-center">
                        <!-- insert the link to product/product.html/product-id -->
                        <a class="d-block" href="../product/product.html">
                          <img src="../../save/product/product1.png" width="64" alt="Product">
                        </a>
                        <div class="ps-2">
                          <h6 class="widget-product-title"><a href="../product/product.html">{ 카트
                            아이템 이름 }</a></h6>
                          <div class="widget-product-meta">
                            <span class="text-accent me-2">₩{ 아이템 가격 }</span><span
                                  class="text-muted">x { 아이템 갯수 }</span>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <!-- cart summary / to checkout page-->
                  <div class="d-flex flex-wrap justify-content-between align-items-center pt-3">
                    <div class="fs-sm me-2 py-2">
                      <span class="text-muted">Total:</span>
                      <span class="text-accent fs-base ms-1">₩{ 총 가격 }</span>
                    </div>
                    <a class="btn btn-success btn-sm" href="../order/checkout.html">
                      <i class="ci-card me-2 fs-base align-middle"></i>Checkout<i
                            class="ci-arrow-right ms-1 me-n1"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Cart Widget ends -->

          </div>
        </div>
      </div>
      <!-- Search collapse-->
      <div class="collapse" id="searchBox">
        <div class="card pt-2 pb-4 border-0 rounded-0">
          <div class="container">
            <div class="input-group">
              <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
              <input class="form-control rounded-start" type="text" placeholder="Search for products">
            </div>
          </div>
        </div>
      </div>

    </header>

  </div> <!-- nav-bar stikcy position ends -->
  <!-- /////////////////////////////////  Navigation ends ///////////////////////////////// -->



  <!-- /////////////////////////////////  Side Nav Starts ///////////////////////////////// -->
  <!-- relative position for side nav -->
  <div id="side-nav-sticky-position">

    <aside class="offcanvas offcanvas-expand w-100 border-end zindex-lg-5 pt-lg-5" id="sideNav"
           style="max-width: 21.875rem;">

      <div id="side-nav-extra-padding"></div>
      <div class="pt-2 d-none d-lg-block"></div>

      <!-- Category tab heading -->
      <ul class="nav nav-tabs nav-justified mt-4 mt-lg-5 mb-0" role="tablist" style="min-height: 3rem;">
        <li class="nav-item"><a class="nav-link text-danger fw-medium active" href="#categories"
                                data-bs-toggle="tab"
                                role="tab">Categories</a>
        </li>
        <li class="nav-item d-lg-none"><a class="nav-link fs-sm" href="#" data-bs-dismiss="offcanvas" role="tab"><i
                class="ci-close fs-xs me-2"></i>Close</a></li>
      </ul>
      <!-- body .. category & brand listing -->
      <div class="offcanvas-body px-0 pt-3 pb-0" data-simplebar>
        <div class="tab-content">
          <!-- Categories-->
          <div class="sidebar-nav tab-pane fade show active" id="categories" role="tabpanel">
            <div class="widget widget-categories">
              <div class="accordion" id="shop-categories">

                <!-- Special offers for discounted items.. a to-do for later..?-->
                <div class="accordion-item border-bottom">
                  <h3 class="accordion-header px-grid-gutter"><a
                          class="nav-link-style d-block fs-md fw-normal py-3" href="#"><span
                          class="d-flex align-items-center">
                                        <i class="ci-lable fs-lg text-danger mt-n1 me-2"></i>
                                        할인 행사 (coming soon)</span></a>
                  </h3>
                </div>

                <!-- Category : meat substitute -->
                <div class="accordion-item border-bottom">
                  <h3 class="accordion-header px-grid-gutter">
                    <button class="accordion-button collapsed py-3" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#meat-substitute" aria-expanded="true"
                            aria-controls="meat-substitute"><span
                            class="d-flex align-items-center">
                                            <i class="ci-ham-leg fs-lg opacity-60 mt-n1 me-2"></i>
                                            비건 대체육류</span>
                    </button>
                  </h3>
                  <!-- Brands for each Category -->
                  <div class="collapse" id="meat-substitute" data-bs-parent="#shop-categories">
                    <div class="px-grid-gutter pt-1 pb-4">
                      <div class="widget widget-links">
                        <ul class="widget-list">

                          <li class="widget-list-item">
                            <i class="ci-bookmark">&nbsp Brand</i>
                          </li>

                          <li class="widget-list-item">
                            <!-- insert the brandId at the end of href as param.. ie. product/category-and-brand?brandId=? -->
                            <a class="widget-list-link"
                               href="brand.html">Beyond
                              Meat</a>
                          </li>

                          <li class="widget-list-item">
                            <!-- insert the brandId at the end of href as param.. ie. product/category-and-brand?brandId=? -->
                            <a class="widget-list-link"
                               href="brand.html">Sweet
                              Earth</a>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Category : dairy substitute -->
                <div class="accordion-item border-bottom">
                  <h3 class="accordion-header px-grid-gutter">
                    <button class="accordion-button collapsed py-3" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#dairy-substitute" aria-expanded="false"
                            aria-controls="dairy-substitute"><span
                            class="d-flex align-items-center"><i
                            class="ci-cheese fs-lg opacity-60 mt-n1 me-2"></i>비건 대체 유제품</span>
                    </button>
                  </h3>
                  <!-- Brands for each Category -->
                  <div class="collapse" id="dairy-substitute" data-bs-parent="#shop-categories">
                    <div class="px-grid-gutter pt-1 pb-4">
                      <div class="widget widget-links">
                        <ul class="widget-list">

                          <li class="widget-list-item">
                            <i class="ci-bookmark">&nbsp Brand</i>
                          </li>

                          <li class="widget-list-item">
                            <!-- insert the brandId at the end of href as param.. ie. product/category-and-brand?brandId=? -->
                            <a class="widget-list-link"
                               href="brand.html">Oatly</a>
                          </li>

                          <li class="widget-list-item">
                            <!-- insert the brandId at the end of href as param.. ie. product/category-and-brand?brandId=? -->
                            <a class="widget-list-link"
                               href="brand.html">Doozy
                              Pots</a>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Category : vegan snack -->
                <div class="accordion-item border-bottom">
                  <h3 class="accordion-header px-grid-gutter">
                    <button class="accordion-button collapsed py-3" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#snack" aria-expanded="false"
                            aria-controls="snack"><span
                            class="d-flex align-items-center"><i
                            class="ci-bread fs-lg opacity-60 mt-n1 me-2"></i>비건 스낵</span></button>
                  </h3>
                  <!-- Brands for each Category -->
                  <div class="collapse" id="snack" data-bs-parent="#shop-categories">
                    <div class="px-grid-gutter pt-1 pb-4">
                      <div class="widget widget-links">
                        <ul class="widget-list">

                          <li class="widget-list-item">
                            <i class="ci-bookmark">&nbsp Brand</i>
                          </li>

                          <li class="widget-list-item">
                            <!-- insert the brandId at the end of href as param.. ie. product/category-and-brand?brandId=? -->
                            <a class="widget-list-link"
                               href="brand.html">Hippeas</a>
                          </li>

                          <li class="widget-list-item">
                            <!-- insert the brandId at the end of href as param.. ie. product/category-and-brand?brandId=? -->
                            <a class="widget-list-link"
                               href="brand.html">Terra</a>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Category : vegan condiments -->
                <div class="accordion-item border-bottom">
                  <h3 class="accordion-header px-grid-gutter">
                    <button class="accordion-button collapsed py-3" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#condiment" aria-expanded="false"
                            aria-controls="condiment"><span
                            class="d-flex align-items-center"><i
                            class="ci-sauce fs-lg opacity-60 mt-n1 me-2"></i>비건 소스/조미료</span>
                    </button>
                  </h3>
                  <!-- Brands for each Category -->
                  <div class="collapse" id="condiment" data-bs-parent="#shop-categories">
                    <div class="px-grid-gutter pt-1 pb-4">
                      <div class="widget widget-links">
                        <ul class="widget-list">

                          <li class="widget-list-item">
                            <i class="ci-bookmark">&nbsp Brand</i>
                          </li>

                          <li class="widget-list-item">
                            <!-- insert the brandId at the end of href as param.. ie. product/category-and-brand?brandId=? -->
                            <a class="widget-list-link"
                               href="brand.html">Hope</a>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>

        <div class="offcanvas-footer d-block px-grid-gutter pt-4 pb-4 mb-2">
          <div class="d-flex mb-3"><i class="ci-support h4 mb-0 fw-normal text-primary mt-1 me-1"></i>
            <div class="ps-2">
              <div class="text-muted fs-sm">Inquiry</div>
              <a class="nav-link-style fs-md" href="#">Jr.Developer 오다윗</a><br>
              <a class="nav-link-style fs-md" href="#">010-7921-2014</a>
            </div>
          </div>
          <div class="d-flex mb-3"><i class="ci-mail h5 mb-0 fw-normal text-primary mt-1 me-1"></i>
            <div class="ps-2">
              <div class="text-muted fs-sm">Email</div>
              <a class="nav-link-style fs-md" href="#">davidoh72@gmail.com</a>
            </div>
          </div>

        </div>

      </div>
    </aside>

  </div>
  <!-- /////////////////////////////////  Side Nav ends ///////////////////////////////// -->



  <!-- ///////////////////////////////// Main page starts ///////////////////////////////// -->
  <main id="main-sticky-position" class="offcanvas-enabled" style="padding-top: 5rem;">
      <section class="ps-lg-4 pe-lg-3 pt-4">
        <div class="px-3 pt-2">

          <!-- Breadcrumb-->
          <nav class="mb-4" aria-label="breadcrumb">
            <ol class="breadcrumb flex-lg-nowrap">
              <li class="breadcrumb-item"><a class="text-nowrap" href="../home.html"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Brand</li>
            </ol>
          </nav>

          <!-- Sorter -->
          <section class="d-md-flex justify-content-between align-items-center mb-4 pb-2">

            <!-- here, use the brandId in the param and ajax call to get the brand name -->
            <h1 class="h2 mb-3 mb-md-0 me-3">{ 브랜드 이름 }</h1>
            <div class="d-flex align-items-center">
              <div class="d-none d-sm-block py-2 fs-sm text-muted text-nowrap me-2">Sort by:</div>

                <!--
                  here, ajax call to refresh page on btn click event,
                  api will return a product list based on brandId and the filter
                  ie. getSortedListByBrandId -> which sorts products based on brands and then calls a sortByFilter method internally
                -->
                <button class="btn rounded-pill btn-outline-info" value="new">
                  <a class="text-info" href="#">Most Sold</a>
                </button>&nbsp

                <!-- list from the least expensive -->
                <button class="btn rounded-pill btn-outline-info" value="new">
                  <a class="text-info" href="#">Price</a>
                </button>&nbsp

                <!-- list from the highest rating -->
                <button class="btn rounded-pill btn-outline-info" value="new">
                  <a class="text-info" href="#">Rating</a>
                </button>&nbsp

            </div>
          </section>


          <!-- ///////////////////////////////// Product grid begins /////////////////////////////////   -->
          <div class="row g-5 mx-n2">

            <!-- here, upon page loading,
              retrieve and get the list of brand products according to the filter "sort by"..
              ie. getProductsByFilter
            -->

            <!-- Product-->
            <div class="col-xl-4 px-2 mb-3">
              <div class="card product-card card-static pb-3">

                <!-- here, upon page loading, update href="" with productId as param.. ie. product?productId={} -->
                <a class="card-img-top d-block overflow-hidden" href="product.html"><img src="../../save/product/product4.png" alt="Product"></a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{ 상품 카테고리 }</a>
                  <h3 class="product-title fs-sm text-truncate"><a href="product.html">{ 상품 이름 }</a></h3>
                  <div class="product-price"><span class="text-accent">₩{ 상품 가격 }</span></div>
                </div>
                <div class="product-floating-btn">

                  <!-- here, on btn click, ajax call to save the productId in the cart -->
                  <button class="btn btn-success btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                </div>
              </div>
            </div>

            <!-- Product-->
            <div class="col-xl-4 px-2 mb-3">
              <div class="card product-card card-static pb-3">

                <!-- here, upon page loading, update href="" with productId as param.. ie. product?productId={} -->
                <a class="card-img-top d-block overflow-hidden" href="product.html"><img src="../../save/product/product4.png" alt="Product"></a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{ 상품 카테고리 }</a>
                  <h3 class="product-title fs-sm text-truncate"><a href="product.html">{ 상품 이름 }</a></h3>
                  <div class="product-price"><span class="text-accent">₩{ 상품 가격 }</span></div>
                </div>
                <div class="product-floating-btn">

                  <!-- here, on btn click, ajax call to save the productId in the cart -->
                  <button class="btn btn-success btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                </div>
              </div>
            </div>

            <!-- Product-->
            <div class="col-xl-4 px-2 mb-3">
              <div class="card product-card card-static pb-3">

                <!-- here, upon page loading, update href="" with productId as param.. ie. product?productId={} -->
                <a class="card-img-top d-block overflow-hidden" href="product.html"><img src="../../save/product/product4.png" alt="Product"></a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{ 상품 카테고리 }</a>
                  <h3 class="product-title fs-sm text-truncate"><a href="product.html">{ 상품 이름 }</a></h3>
                  <div class="product-price"><span class="text-accent">₩{ 상품 가격 }</span></div>
                </div>
                <div class="product-floating-btn">

                  <!-- here, on btn click, ajax call to save the productId in the cart -->
                  <button class="btn btn-success btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                </div>
              </div>
            </div>

            <!-- Product-->
            <div class="col-xl-4 px-2 mb-3">
              <div class="card product-card card-static pb-3">

                <!-- here, upon page loading, update href="" with productId as param.. ie. product?productId={} -->
                <a class="card-img-top d-block overflow-hidden" href="product.html"><img src="../../save/product/product4.png" alt="Product"></a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{ 상품 카테고리 }</a>
                  <h3 class="product-title fs-sm text-truncate"><a href="product.html">{ 상품 이름 }</a></h3>
                  <div class="product-price"><span class="text-accent">₩{ 상품 가격 }</span></div>
                </div>
                <div class="product-floating-btn">

                  <!-- here, on btn click, ajax call to save the productId in the cart -->
                  <button class="btn btn-success btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                </div>
              </div>
            </div>

            <!-- Product-->
            <div class="col-xl-4 px-2 mb-3">
              <div class="card product-card card-static pb-3">

                <!-- here, upon page loading, update href="" with productId as param.. ie. product?productId={} -->
                <a class="card-img-top d-block overflow-hidden" href="product.html"><img src="../../save/product/product4.png" alt="Product"></a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{ 상품 카테고리 }</a>
                  <h3 class="product-title fs-sm text-truncate"><a href="product.html">{ 상품 이름 }</a></h3>
                  <div class="product-price"><span class="text-accent">₩{ 상품 가격 }</span></div>
                </div>
                <div class="product-floating-btn">

                  <!-- here, on btn click, ajax call to save the productId in the cart -->
                  <button class="btn btn-success btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                </div>
              </div>
            </div>

            <!-- Product-->
            <div class="col-xl-4 px-2 mb-3">
              <div class="card product-card card-static pb-3">

                <!-- here, upon page loading, update href="" with productId as param.. ie. product?productId={} -->
                <a class="card-img-top d-block overflow-hidden" href="product.html"><img src="../../save/product/product4.png" alt="Product"></a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">{ 상품 카테고리 }</a>
                  <h3 class="product-title fs-sm text-truncate"><a href="product.html">{ 상품 이름 }</a></h3>
                  <div class="product-price"><span class="text-accent">₩{ 상품 가격 }</span></div>
                </div>
                <div class="product-floating-btn">

                  <!-- here, on btn click, ajax call to save the productId in the cart -->
                  <button class="btn btn-success btn-shadow btn-sm" type="button">+<i class="ci-cart fs-base ms-1"></i></button>
                </div>
              </div>
            </div>



          </div>
          <!-- ///////////////////////////////// Product grid ends /////////////////////////////////   -->


          <!-- ///////////////////////////////// Pagination begins /////////////////////////////////  -->
          <div class="py-4 pb-md-5 mb-4">
            <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">

              <!-- here, on btn click, refresh the page with param ?page={current - 1} if page is 0 dont refresh-->
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a></li>
              </ul>

              <ul id="page-link" class="pagination">
                <li class="page-item d-sm-none"><span class="page-link page-link-static"></span></li>

                  <!--
                  here, paging function is needed,
                  1) ajax call to get paging info on this brand ( total # of brand product / 6(per page) )
                    -> keep the max page cnt; it will be used after filtering products
                  2) retrieve and get the list of brand products according to the filter "sort by"
                  3) then finally list the products by the order provided by the api
                  4) refresh the page
                  -->

                 <!-- place the class="active" on whichever page is selected and delete from others -->
                <li class="page-item active shadow-none d-none d-sm-block" aria-current="page"><span class="page-link">{ 1 }<span class="visually-hidden">(current)</span></span></li>
                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">{ 2 (두번째) }</a></li>
                <li class="page-item d-none d-sm-block"><a class="page-link" href="#">{ 3 (마지막) }</a></li>
              </ul>

              <!-- here, on btn click, refresh the page with param ?page={current + 1} if page is max dont refresh -->
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" aria-label="Next">Next<i class="ci-arrow-right ms-2"></i></a></li>
              </ul>

            </nav>

          </div>
          <!-- ///////////////////////////////// Pagination ends /////////////////////////////////  -->


        </div>
      </section>



      <!-- Footer starts-->
      <footer id="footer-color" class="footer pt-5">
        <div class="container">

          <div class="container">
            <div class="row pb-3">
              <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex"><img src="../../assets/img/logo/java.png" width="75">
                  <div class="ps-3">
                    <h6 class="fs-base text-light mb-1">Java Programming</h6>

                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex"><img src="../../assets/img/logo/spring-boot-2.png" width="75">
                  <div class="ps-3">
                    <h6 class="fs-base text-light mb-1">Spring Boot</h6>

                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex"><img src="../../assets/img/logo/jpa.png" width="75">
                  <div class="ps-3">
                    <h6 class="fs-base text-light mb-1">Java Persistance API</h6>

                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 mb-4">
                <div class="d-flex">
                  <div class="ps-3">
                    <h6 class="fs-base text-light mb-1"><< insert other tech used</h6>

                  </div>
                </div>
              </div>
            </div>
            <hr class="hr-light mb-5">
            <div class="row pb-2">
              <div class="col-md-6 text-center text-md-start mb-4">
                <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 me-3"
                                                 href="#"><img
                        class="d-block" src="../../assets/img/logo/GentleGourmetLogo2.png" width="300"
                        alt="Gentle Gourmet"></a>
                  <div class="btn-group dropdown disable-autohide">
                    <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2"
                            type="button" data-bs-toggle="dropdown"><img class="me-2"
                                                                         src="../../assets/img/flags/kr.png"
                                                                         width="20"
                                                                         alt="Korean">KOR / ₩
                    </button>
                    <ul class="dropdown-menu my-1">
                      <li class="dropdown-item">
                        <select class="form-select form-select-sm">
                          <option value="usd">$ USD</option>
                          <option value="eur">€ EUR</option>
                        </select>
                      </li>
                      <li><a class="dropdown-item pb-1" href="#"><img class="me-2"
                                                                      src="../../assets/img/flags/en.png"
                                                                      width="20"
                                                                      alt="US">US</a></li>
                      <li><a class="dropdown-item pb-1" href="#"><img class="me-2"
                                                                      src="../../assets/img/flags/fr.png"
                                                                      width="20"
                                                                      alt="Français">Français</a>
                      </li>
                      <li><a class="dropdown-item" href="#"><img class="me-2"
                                                                 src="../../assets/img/flags/it.png"
                                                                 width="20" alt="Italiano">Italiano</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="widget widget-links widget-light">
                  <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                    <li class="widget-list-item me-4"><a class="widget-list-link"
                                                         href="https://edu.kosta.or.kr/">KOSTA
                      코스타</a></li>
                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Support</a>
                    </li>
                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Privacy</a>
                    </li>
                    <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Terms
                      of use</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 text-center text-md-end mb-4">
                <div class="mb-3"><a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i
                        class="ci-twitter"></i></a><a
                        class="btn-social bs-light bs-facebook ms-2 mb-2"
                        href="#"><i class="ci-facebook"></i></a><a
                        class="btn-social bs-light bs-instagram ms-2 mb-2" href="#"><i
                        class="ci-instagram"></i></a><a
                        class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i
                        class="ci-pinterest"></i></a><a
                        class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i
                        class="ci-youtube"></i></a>
                </div>
                <img class="d-inline-block" src="../../assets/img/cards-alt.png" width="187"
                     alt="Payment methods">
              </div>
            </div>
            <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights
              reserved. Made by
              <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">개발자
                오다윗</a>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer ends -->


</main>
  <!-- ///////////////////////////////// Main page ends ///////////////////////////////// -->

    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll data-fixed-element><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../../assets/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="../../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <!-- Main theme script-->
    <script src="../../assets/js/theme.min.js"></script>
  </body>
</html>