<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gentle Gourmet | Product</title>
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" href="../../assets/vendor/simplebar/dist/simplebar.min.css"/>
  <link rel="stylesheet" media="screen" href="../../assets/vendor/tiny-slider/dist/tiny-slider.css"/>
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="../../assets/css/theme.min.css">

  <!-- /////////////////////////////////  copy this in every file  ///////////////////////////////// -->
  <style type="text/css">
    body {
      z-index: 0
    }

    #bg {
      position: fixed;
      top: 0;
      left: 0;

      /* Preserve aspet ratio */
      min-width: 100%;
      min-height: 100%;
      z-index: -1;
    }

    #bg img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
    }

    .breadcrumb {
      margin-top: 10vh;
      margin-bottom: 2vh;
      background-color: transparent;
    }

    p {
      width: 95vh;
      overflow-wrap: normal;
    }

    .centered-wrapper {
      position: relative;
      text-align: center;
      align-items: center;
    }

    .centered-wrapper:before {
      content: "";
      position: relative;
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
    }

    .centered-content a {
      display: inline-block;
      vertical-align: middle;
    }

    html, body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    header {
      background-color: #75C154;
    }

    footer {
      background-color: #75C154;
      width: 100%;
    }

    #footer-color {
      background-color: #75C154;
    }

    .nav-padding {
      padding-left: 25px;
      padding-right: 25px;
    }

    #nav-sticky-position {
      position: sticky;
      z-index: 9;
    }

    #popular-tags {
      position: fixed;
      top: 120px;
      margin-left: 380px;
      z-index: 3;
    }

    #main-center-alignment {
      vertical-align: middle;
      horiz-align: center;
    }

    #product-gallery-preview-zindex {
      z-index: 1;
    }

    #page-title-bg {
      background-color: #0f9d58;
      /*background-image: url("../../assets/img/background/bg17.png");*/
    }

    #product-description-align {
      text-align: left;
    }

    #product-page-title {
      width: 100%;
      height: 300px;
    }

    .testimonial {
      padding-bottom: 50px;
    }

    .review-round-margin-top {
      border-radius: 25px 0 0 25px;
    }

    .review-round-margin-bottom {
      border-radius: 0 25px 25px 0;
    }


    /* Loading HighCharts CSS */
    #container-chart {
      height: 300px;
      width: 700px;
    }
    .highcharts-figure,
    .highcharts-data-table table {
      min-width: 310px;
      max-width: 800px;
      margin: 1em auto;
    }
    .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #ebebeb;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 500px;
    }
    .highcharts-data-table caption {
      padding: 1em 0;
      font-size: 1.2em;
      color: #444;
    }
    .highcharts-data-table th {
      font-weight: 600;
      padding: 0.5em;
    }
    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
      padding: 0.5em;
    }
    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
      background: #f8f8f8;
    }
    .highcharts-data-table tr:hover {
      background: #f1f7ff;
    }
    /* Loading HighCharts CSS done */


  </style>
  <!-- /////////////////////////////////  copy this in every file  ///////////////////////////////// -->

</head>



<!-- body starts ** needs a center-wrapper&centered-content due to absence of side-nav -->
<body class="centered-wrapper bg-secondary">

<div class="centered-content">

  <!-- /////////////////////////////////  Navigation begins ///////////////////////////////// -->
  <!-- Sign in / sign up modal starts -->
  <div class="modal carousel-fade" id="signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab"
                                    data-bs-toggle="tab"
                                    data-bs-toggle="tab"
                                    role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign
              in</a></li>
            <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab"
                                    role="tab" aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Sign
              up</a></li>
          </ul>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body tab-content py-4">
          <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate
                id="signin-tab">
            <div class="mb-3">
              <label class="form-label" for="id">ID</label>
              <input class="form-control" type="email" id="id" placeholder="veganlife123"
                     required>
              <div class="invalid-feedback">Please provide the correct user ID</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="si-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="si-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span
                        class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <!-- here, when btn is clicked, ajax call for sign in api -->
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
          </form>
          <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
            <div class="mb-3">
              <label class="form-label" for="id">ID</label>
              <input class="form-control" type="text" id="id" placeholder="John Doe" required>
              <div class="invalid-feedback">Please fill in your use ID</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="su-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="su-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span
                        class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="su-password-confirm">Confirm password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="su-password-confirm" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span
                        class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <!-- here, when btn is clicked, ajax call for sign up api -->
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign in / sign up modal ends-->

  <!-- Sign in / sign up modal for admin starts -->
  <div class="modal carousel-fade" id="signin-modal-admin" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab"
                                    data-bs-toggle="tab"
                                    data-bs-toggle="tab"
                                    role="tab" aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign
              in</a></li>
          </ul>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body tab-content py-4">
          <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate
                id="signin-tab">
            <div class="mb-3">
              <label class="form-label" for="id">Admin ID</label>
              <input class="form-control" type="email" id="id" placeholder="vegan-admin123"
                     required>
              <div class="invalid-feedback">Please provide the correct admin user ID</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="si-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="si-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span
                        class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <!-- here, when btn is clicked, trigger admin login api which will validate the info and forward to the admin/sales view  -->
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Sign in / sign up modal admin ends-->


  <div id="nav-sticky-position">


    <header class="navigation bg-light shadow-sm fixed-top">
      <div class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand d-none d-sm-block me-3 me-xl-4 flex-shrink-0" href="../home.html">
            <img src="../../assets/img/logo/GentleGourmetLogo2.png" width="300" alt="Gentle Gourmet">
          </a>

          <!-- Search-->
          <div class="input-group d-none d-lg-flex flex-nowrap mx-4"><i
                  class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            <input class="form-control rounded-start w-25" type="text" placeholder="Search for products">
            <select class="form-select flex-shrink-0" style="width: 10rem;">
              <option>All Categories</option>
              <option>{ 불러온 카테고리 }</option>
              <option>{ 불러온 카테고리 }</option>
              <option>{ 불러온 카테고리 }</option>
              <option>{ 불러온 카테고리 }</option>
              <option>{ 불러온 카테고리 }</option>
            </select>
          </div>

          <!-- Cook & Our Story links -->
          <div class="nav-padding">
            <!-- a link -->
            <a href="../cook/recipe-list.html">
              <!-- icon -->
              <i class="ci-avocado bg-faded-primary"></i>
              <h6 style="color:darkslategrey">Cook</h6>
            </a>
          </div>
          <div class="nav-padding">
            <a href="../story/story.html">
              <i class="ci-broccoli"></i>
              <h6 style="color:darkslategrey">Story</h6>
            </a>
          </div>

          <!-- Toolbar-->
          <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center ms-xl-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#sideNav"><span
                    class="navbar-toggler-icon"></span></button>
            <a class="navbar-tool d-flex d-lg-none" href="#searchBox" data-bs-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="searchBox"><span class="navbar-tool-tooltip">Search</span>
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-search"></i></div>
            </a>

            <!-- Login Modal (widget) -->
            <!-- if not logged in    -->
            <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="#signin-modal" data-bs-toggle="modal">
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
              <div class="navbar-tool-text ms-n3"><small>Sign in</small>Customer</div>
            </a>
            <!-- add logic -> if logged in
             add <small>Hello, User {유저 이름}</small></div> -->

            <!-- Admin Login Modal -->
            <a class="navbar-tool ms-1 ms-lg-0 me-n1 me-lg-2" href="#signin-modal-admin" data-bs-toggle="modal">
              <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-store"></i></div>
              <div class="navbar-tool-text ms-n3">Admin</div>
            </a>


            <!-- Cart Widget starts -->
            <div class="navbar-tool dropdown ms-3">
              <a class="navbar-tool-icon-box bg-secondary dropdown-toggle"
                 href="../order/checkout.html">
                <span class="navbar-tool-label">{ 카트 아이템 수 }</span>
                <i class="navbar-tool-icon ci-cart"></i>
              </a>
              <a class="navbar-tool-text" href="../order/checkout.html"><small>My Cart</small>₩{ 총금액
                }</a>
              <div class="dropdown-menu dropdown-menu-end">
                <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
                  <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">

                    <!-- Cart Item Widget -->
                    <!-- for all items in the cart, for loop the below : -->
                    <div class="widget-cart-item py-2 border-bottom">
                      <!-- add code : removing the cart item -->
                      <button class="btn-close text-danger" type="button" aria-label="Remove">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <!-- insert cart item's details here -->
                      <div class="d-flex align-items-center">
                        <!-- insert the link to product/product.html/product-id -->
                        <a class="d-block" href="../product/product.html">
                          <img src="../../save/product/product1.png" width="64" alt="Product">
                        </a>
                        <div class="ps-2">
                          <h6 class="widget-product-title"><a href="../product/product.html">{ 카트
                            아이템 이름 }</a></h6>
                          <div class="widget-product-meta">
                            <span class="text-accent me-2">₩{ 아이템 가격 }</span><span
                                  class="text-muted">x { 아이템 갯수 }</span>

                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Cart Item Widget -->
                    <!-- for all items in the cart, for loop the below : -->
                    <div class="widget-cart-item py-2 border-bottom">
                      <!-- add code : removing the cart item -->
                      <button class="btn-close text-danger" type="button" aria-label="Remove">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <!-- insert cart item's details here -->
                      <div class="d-flex align-items-center">
                        <!-- insert the link to product/product.html/product-id -->
                        <a class="d-block" href="../product/product.html">
                          <img src="../../save/product/product1.png" width="64" alt="Product">
                        </a>
                        <div class="ps-2">
                          <h6 class="widget-product-title"><a href="../product/product.html">{ 카트
                            아이템 이름 }</a></h6>
                          <div class="widget-product-meta">
                            <span class="text-accent me-2">₩{ 아이템 가격 }</span><span
                                  class="text-muted">x { 아이템 갯수 }</span>

                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Cart Item Widget -->
                    <!-- for all items in the cart, for loop the below : -->
                    <div class="widget-cart-item py-2 border-bottom">
                      <!-- add code : removing the cart item -->
                      <button class="btn-close text-danger" type="button" aria-label="Remove">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <!-- insert cart item's details here -->
                      <div class="d-flex align-items-center">
                        <!-- insert the link to product/product.html/product-id -->
                        <a class="d-block" href="../product/product.html">
                          <img src="../../save/product/product1.png" width="64" alt="Product">
                        </a>
                        <div class="ps-2">
                          <h6 class="widget-product-title"><a href="../product/product.html">{ 카트
                            아이템 이름 }</a></h6>
                          <div class="widget-product-meta">
                            <span class="text-accent me-2">₩{ 아이템 가격 }</span><span
                                  class="text-muted">x { 아이템 갯수 }</span>

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <!-- cart summary / to checkout page-->
                  <div class="d-flex flex-wrap justify-content-between align-items-center pt-3">
                    <div class="fs-sm me-2 py-2">
                      <span class="text-muted">Total:</span>
                      <span class="text-accent fs-base ms-1">₩{ 총 가격 }</span>
                    </div>
                    <a class="btn btn-success btn-sm" href="../order/checkout.html">
                      <i class="ci-card me-2 fs-base align-middle"></i>Checkout<i
                            class="ci-arrow-right ms-1 me-n1"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Cart Widget ends -->

          </div>
        </div>
      </div>
      <!-- Search collapse-->
      <div class="collapse" id="searchBox">
        <div class="card pt-2 pb-4 border-0 rounded-0">
          <div class="container">
            <div class="input-group">
              <i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
              <input class="form-control rounded-start" type="text" placeholder="Search for products">
            </div>
          </div>
        </div>
      </div>

    </header>

  </div> <!-- nav-bar stikcy position ends -->
  <!-- /////////////////////////////////  Navigation ends ///////////////////////////////// -->



  <main id="main-center-alignment" style="padding-top: 5rem;">


    <!-- ////////////////////////////////// Product Gallery & Description starts ////////////////////////////////// -->
    <section class="row g-0 mx-n2 pb-5 mb-xl-3">


      <!-- ////////////////////////////////// Page title & breadcrumbs //////////////////////////////////-->
      <section id="product-page-title" class="ps-lg-3 pe-auto pt-4">
        <div id="page-title-bg" class="page-title-overlap pt-4">


          <div class="container d-lg-flex justify-content-between py-2 py-lg-3">

            <div class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
              <div class="d-flex align-items-center pb-3">
                <div class="img-thumbnail rounded-circle position-relative flex-shrink-0" style="width: 6.375rem;"><img class="rounded-circle" src="../../assets/img/etc/vegan-logo.png" alt="vegan logo"></div>
                <div class="ps-3">
                  <h3 class="text-light fs-xl mb-0">Vegan Product</h3><span class="d-block text-light fs-md opacity-60 py-1">We Love Vegan</span>
                </div>
              </div>


              <div class="d-flex">
                <nav class="mb-4" aria-label="breadcrumb">
                  <ol class="breadcrumb flex-lg-nowrap">
                    <li class="breadcrumb-item"><a class="text-nowrap text-light" href="../home.html"><i class="ci-home"></i>Home</a></li>

                    <!-- here, make sure to insert the brandId of the product in the link.. ie. href="../category-and-brand?brandId={}"-->
                    <li class="breadcrumb-item"><a class="text-nowrap text-light" href="brand.html"><i class="ci-bookmark"></i>Brand</a></li>

                    <li class="breadcrumb-item text-nowrap active text-light" aria-current="page">Product</li>
                  </ol>
                </nav>
              </div>
            </div>

          </div>
        </div>
      </section>


      <!-- Product Gallery & Description -->
      <div class="col-xl-7 px-2 mb-3">
        <div class="h-100 bg-transparent rounded-3 p-4">
          <div class="product-gallery">
            <div id="product-gallery-preview-zindex" class="product-gallery-preview order-sm-2">

              <!-- with productId param, fetch 3 of product's img savelocs , run a for loop and insert them here -->
              <div class="product-gallery-preview-item active" id="first"><img src="../../save/product/product1.png" alt="Product image"></div>
              <div class="product-gallery-preview-item" id="second"><img src="../../save/product/product2.jpg" alt="Product image"></div>
              <div class="product-gallery-preview-item" id="third"><img src="../../save/product/product3.png" alt="Product image"></div>

            </div>
            <!-- with productId param, fetch 3 of product's img savelocs , run a for loop and insert them here -->
            <div class="product-gallery-thumblist order-sm-1">
              <a class="product-gallery-thumblist-item active" href="#first"><img src="../../save/product/product1.png" alt="Product thumb"></a>
              <a class="product-gallery-thumblist-item" href="#second"><img src="../../save/product/product2.jpg" alt="Product thumb"></a>
              <a class="product-gallery-thumblist-item" href="#third"><img src="../../save/product/product3.png" alt="Product thumb"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5 px-2 mb-3">
        <div class="h-100 bg-light rounded-3 py-5 px-4 px-sm-5">

          <!-- here, need to fetch product's data via productId in the param -->

          <!-- insert product category -->
          <a class="product-meta d-block fs-sm pb-2" href="#">{ 상품 카테고리 }</a>
          <!-- insert product name -->
          <h1 class="h2">{ 상품 이름 }</h1>
          <!-- insert product price -->
          <div class="h2 fw-normal text-accent">₩{ 상품 가격 }</div>

          <div class="d-flex flex-wrap align-items-center pt-4 pb-2 mb-3">
            <select class="form-select me-3 mb-3" style="width: 5rem;">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>

            <!-- here, on button click,  -->
            <button class="btn btn-success btn-shadow me-3 mb-3" type="submit">
              <i class="ci-cart fs-lg me-2"></i>Add to Cart
            </button>

          </div>

          <h6>Product description</h6>
          <!-- here, run a for-loop and insert product description (split by commas) -->
          <ul id="product-description-align" class="list-unstyled fs-sm pt-2 mb-0">
            <li><i class="ci-avocado text-success me-2"></i>{ 상품 설명 }</li>
            <li><i class="ci-avocado text-success me-2"></i>{ 상품 설명 }</li>
            <li><i class="ci-avocado text-success me-2"></i>{ 상품 설명 }</li>
            <li><i class="ci-avocado text-success me-2"></i>{ 상품 설명 }</li>
            <li><i class="ci-avocado text-success me-2"></i>{ 상품 설명 }</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- ////////////////////////////////// Product Gallery & Description ends ////////////////////////////////// -->



    <!-- ////////////////////////////////// Review starts  ////////////////////////////////// -->
    <div class="border-top border-bottom my-lg-3 py-5">

      <!-- Review Rating starts -->
      <div class="container pt-md-2" id="reviews">
        <div class="row pb-3">

          <!-- here, fetch product review data via productId in the param -->
          <div class="col-lg-4 col-md-5">

            <h2 class="h3 mb-4">{ 리뷰 갯수 } Reviews</h2>
            <div class="star-rating me-2">
              <i class="ci-star-filled fs-sm text-accent me-1"></i>
              <i class="ci-star-filled fs-sm text-accent me-1"></i>
              <i class="ci-star-filled fs-sm text-accent me-1"></i>
              <i class="ci-star-half fs-sm text-accent me-1"></i>
              <i class="ci-star fs-sm text-muted me-1"></i>
            </div><span class="d-inline-block align-middle"><br> ^평균치 매칭 { 리뷰 리스트 평균치 }</span>

          </div>


          <!-- HighCharts for ratings analysis -->
          <figure class="highcharts-figure">
            <div id="container-chart"></div>
            <p class="highcharts-description">
              <!--Ratings Composition-->
            </p>
          </figure>

        </div>
      </div>
      <!-- Review Rating ends-->


      <hr class="mt-4 mb-3">
      <div class="row pt-4">

      <!-- Sorting toggle buttons -->
      <div class="col-md-7">
        <div class="d-flex justify-content-end pb-4">
          <div class="d-flex align-items-center flex-nowrap">

            <label class="fs-sm text-muted text-nowrap me-2 d-none d-sm-block">Sort by:</label>&nbsp&nbsp&nbsp

            <!-- Toogle button -->
            <!--
              here, on button click,
              needs a fetch results via request param including productId in the link & the form button value
              ie. getProductReviewByIdAndFilter?productId={}&filter={}
            -->
              <button class="btn rounded-pill btn-outline-info" value="new">New</button>&nbsp
              <button class="btn rounded-pill btn-outline-info" value="popular">High Rating</button>

          </div>
        </div>



        <!-- Review List-->
        <!-- here, use the fetched review data and run for-loop to create a testimonial for each review (for the first 5 reviews) -->

        <!-- Testimonial -->
        <blockquote class="review-round-margin-top testimonial">
            <div class="card border-0 shadow-sm">
              <span class="testimonial-mark bg-info shadow-none"></span>
              <div class="card-body fs-md">{ 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 }</div>
            </div>
            <footer class="review-round-margin-bottom d-flex justify-content-center align-items-center pt-4">
              <div class="ps-3">
                <h6 class="fs-lg text-secondary mb-n1">{ 리뷰 작성자(유저이름) }</h6>
                <span class="fs-md text-muted">
                  <i class="ci-time align-middle me-2"></i>
                  { 리뷰 작성날짜 }
                </span>
              </div>
            </footer>
          </blockquote>

        <!-- Testimonial -->
        <blockquote class="review-round-margin-top testimonial">
            <div class="card border-0 shadow-sm">
              <span class="testimonial-mark bg-info shadow-none"></span>
              <div class="card-body fs-md">{ 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 }</div>
            </div>
            <footer class="review-round-margin-bottom d-flex justify-content-center align-items-center pt-4">
              <div class="ps-3">
                <h6 class="fs-lg text-secondary mb-n1">{ 리뷰 작성자(유저이름) }</h6>
                <span class="fs-md text-muted">
                  <i class="ci-time align-middle me-2"></i>
                  { 리뷰 작성날짜 }
                </span>
              </div>
            </footer>
          </blockquote>

        <!-- Testimonial -->
        <blockquote class="review-round-margin-top testimonial">
            <div class="card border-0 shadow-sm">
              <span class="testimonial-mark bg-info shadow-none"></span>
              <div class="card-body fs-md">{ 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 }</div>
            </div>
            <footer class="review-round-margin-bottom d-flex justify-content-center align-items-center pt-4">
              <div class="ps-3">
                <h6 class="fs-lg text-secondary mb-n1">{ 리뷰 작성자(유저이름) }</h6>
                <span class="fs-md text-muted">
                  <i class="ci-time align-middle me-2"></i>
                  { 리뷰 작성날짜 }
                </span>
              </div>
            </footer>
          </blockquote>

        <!-- Testimonial -->
        <blockquote class="review-round-margin-top testimonial">
            <div class="card border-0 shadow-sm">
              <span class="testimonial-mark bg-info shadow-none"></span>
              <div class="card-body fs-md">{ 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 }</div>
            </div>
            <footer class="review-round-margin-bottom d-flex justify-content-center align-items-center pt-4">
              <div class="ps-3">
                <h6 class="fs-lg text-secondary mb-n1">{ 리뷰 작성자(유저이름) }</h6>
                <span class="fs-md text-muted">
                  <i class="ci-time align-middle me-2"></i>
                  { 리뷰 작성날짜 }
                </span>
              </div>
            </footer>
          </blockquote>

        <!-- Testimonial -->
        <blockquote class="review-round-margin-top testimonial">
            <div class="card border-0 shadow-sm">
              <span class="testimonial-mark bg-info shadow-none"></span>
              <div class="card-body fs-md">{ 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 리뷰 컨텐츠 }</div>
            </div>
            <footer class="review-round-margin-bottom d-flex justify-content-center align-items-center pt-4">
              <div class="ps-3">
                <h6 class="fs-lg text-secondary mb-n1">{ 리뷰 작성자(유저이름) }</h6>
                <span class="fs-md text-muted">
                  <i class="ci-time align-middle me-2"></i>
                  { 리뷰 작성날짜 }
                </span>
              </div>
            </footer>
          </blockquote>


        </div>


      <!-- Review form starts -->
      <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
        <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-3">
          <h3 class="h4 pb-2">Comment</h3>
          <form class="needs-validation" method="post" novalidate="">
            <div class="mb-3">
              <label class="form-label" for="review-userId">User Id<span class="text-danger">*</span></label>
              <input class="form-control" type="text" required="" id="review-userId" placeholder="dave0808">
              <div class="invalid-feedback">Please enter User ID</div><small class="form-text text-muted">User Id - not username</small>
            </div>
            <div class="mb-3">
              <label class="form-label" for="purchase-order">Purchase Order Id<span class="text-danger">*</span></label>
              <input class="form-control" type="email" required="" id="purchase-order" placeholder="142402412034">
              <div class="invalid-feedback">Please provide your Purchase Order Id</div><small class="form-text text-muted">The Purchase Order Id is provided on purchase</small>
            </div>
            <div class="mb-3">
              <label class="form-label" for="review-rating">Rating<span class="text-danger">*</span></label>
              <select class="form-select" required="" id="review-rating">
                <option value="">Choose rating</option>
                <option value="5">5 stars</option>
                <option value="4">4 stars</option>
                <option value="3">3 stars</option>
                <option value="2">2 stars</option>
                <option value="1">1 star</option>
              </select>
              <div class="invalid-feedback">Please choose rating</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="review-text">Review<span class="text-danger">*</span></label>
              <textarea class="form-control" rows="6" required="" id="review-text"></textarea>
              <div class="invalid-feedback">Please write a review!</div><small class="form-text text-muted">Your review must be at least 50 characters.</small>
            </div>

            <button class="btn btn-info btn-shadow d-block w-100" type="submit">Submit a Review</button>

          </form>
        </div>
      </div>
      <!-- Review form ends -->

      </div>
    </div>
    <!-- ////////////////////////////////// Review ends  ////////////////////////////////// -->


  </main> <!-- cancel "class="offcanvas-enabled" so the body covers the whole width -->


</div> <!-- centered content ends -->


<!-- ////////////////////////////////// Footer starts ////////////////////////////////// -->
<footer id="footer-color" class="footer pt-5">
  <div class="container">

    <div class="container">
      <div class="row pb-3">
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><img src="../../assets/img/logo/java.png" width="75">
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Java Programming</h6>

            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><img src="../../assets/img/logo/spring-boot-2.png" width="75">
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Spring Boot</h6>

            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><img src="../../assets/img/logo/jpa.png" width="75">
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Java Persistance API</h6>

            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex">
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1"><< insert other tech used</h6>

            </div>
          </div>
        </div>
      </div>
      <hr class="hr-light mb-5">
      <div class="row pb-2">
        <div class="col-md-6 text-center text-md-start mb-4">
          <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 me-3"
                                           href="#"><img
                  class="d-block" src="../../assets/img/logo/GentleGourmetLogo2.png" width="300"
                  alt="Gentle Gourmet"></a>
            <div class="btn-group dropdown disable-autohide">
              <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2"
                      type="button" data-bs-toggle="dropdown"><img class="me-2"
                                                                   src="../../assets/img/flags/kr.png"
                                                                   width="20"
                                                                   alt="Korean">KOR / ₩
              </button>
              <ul class="dropdown-menu my-1">
                <li class="dropdown-item">
                  <select class="form-select form-select-sm">
                    <option value="usd">$ USD</option>
                    <option value="eur">€ EUR</option>
                  </select>
                </li>
                <li><a class="dropdown-item pb-1" href="#"><img class="me-2"
                                                                src="../../assets/img/flags/en.png"
                                                                width="20"
                                                                alt="US">US</a></li>
                <li><a class="dropdown-item pb-1" href="#"><img class="me-2"
                                                                src="../../assets/img/flags/fr.png"
                                                                width="20"
                                                                alt="Français">Français</a>
                </li>
                <li><a class="dropdown-item" href="#"><img class="me-2"
                                                           src="../../assets/img/flags/it.png"
                                                           width="20" alt="Italiano">Italiano</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="widget widget-links widget-light">
            <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
              <li class="widget-list-item me-4"><a class="widget-list-link"
                                                   href="https://edu.kosta.or.kr/">KOSTA
                코스타</a></li>
              <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Support</a>
              </li>
              <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Privacy</a>
              </li>
              <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Terms
                of use</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-end mb-4">
          <div class="mb-3"><a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i
                  class="ci-twitter"></i></a><a
                  class="btn-social bs-light bs-facebook ms-2 mb-2"
                  href="#"><i class="ci-facebook"></i></a><a
                  class="btn-social bs-light bs-instagram ms-2 mb-2" href="#"><i
                  class="ci-instagram"></i></a><a
                  class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i
                  class="ci-pinterest"></i></a><a
                  class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i
                  class="ci-youtube"></i></a>
          </div>
          <img class="d-inline-block" src="../../assets/img/cards-alt.png" width="187"
               alt="Payment methods">
        </div>
      </div>
      <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights
        reserved. Made by
        <a class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">개발자
          오다윗</a>
      </div>
    </div>
  </div>
</footer>
<!-- ////////////////////////////////// Footer ends ////////////////////////////////// -->


<!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll data-fixed-element><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
<!-- Vendor scrits: js libraries and plugins-->
<script src="../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="../../assets/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="../../assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<!-- Main theme script-->
<script src="../../assets/js/theme.min.js"></script>

<!-- Load HighCharts API -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/cylinder.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!-- Highchart script -->
<script>
  Highcharts.chart('container-chart', {
    chart: {
      type: 'cylinder',
      options3d: {
        enabled: true,
        alpha: 15,
        beta: 10,
        depth: 50,
        viewDistance: 25
      },
      borderColor: '#0f9d58',
      borderRadius: 20,
      borderWidth: 6,

    },
    title: {
      text: 'Review Ratings'
    },
    plotOptions: {
      series: {
        depth: 100,
        colorByPoint: true
      }
    },
    xAxis: {
      categories: ['1', '2', '3', '4', '5']
    },
    yAxis: {
      title: {
        text: 'per Count'
      },
      tickWidth: 10,
    },
    series: [{
      /*
        here needs ajax fetch,
        1. first, ajax fetch using a new method to get a list of ratings for this product via productId in the param
        2. then, insert the review rating
      */
      data: [0, 12, 76, 194, 255],
      name: 'Rating',
      showInLegend: false
    }]
  });
</script>


</body> <!-- centralized body ends-->

</html>


